/* src/styles/globals.css */
html, body {
  margin: 0;
  padding: 0;
  font-family: 'Archivo', sans-serif;
  background-color: #121212;
  color: #eeeeee;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

button {
  font-family: 'Archivo', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 200;
  margin-top: 0;
}
:root {
  /* Existing variables */
  
  /* Visualizer variables */
  --bass-intensity: 0;
  --mid-intensity: 0;
  --high-intensity: 0;
}